#Change this!
MONGODB_URI=mongodb://localhost:27017/YouShouldChangeThis
MONGOLAB_URI=mongodb://localhost:27017/YouShouldChangeThis

SESSION_SECRET=YourSessionSecretgoeshere

POST_SURVEY=YOUR_QUALTRICS?id=
