/**Title*/

h2 {
    text-align: center;
}

h3 {
    font-weight: normal;
    line-height: 1.5;
}

.title {
    color: #2B8490;
    text-align: center;
}


/**Username Form*/

#customUsername {
    font-size: 1.2rem;
    text-align: center;
}

.ui.form {
    margin-top: 50px;
    margin-bottom: 50px;
}

.ui.form,
.ui.form .fields,
.ui.form h3 {
    justify-content: center;
    text-align: center
}

h2.username {
    color: #000000;
    margin: 0px;
}

.ui.basic.buttons .button {
    min-width: 400px;
    min-height: 60px;
    background-color: #ffffff !important;
}

.ui.basic.buttons .button:hover,
.ui.basic.buttons .button:active {
    background-color: #fefefe !important;
}

.ui.basic.buttons .green.button {
    background-color: #fefefe !important;
    border: solid 4px;
    border-color: #2b905a;
}

.ui.basic.vertical.buttons .green.button:first-child {
    border-top-width: 4px;
}

i.icon.green {
    float: right;
}

i.icon.green.hidden {
    visibility: hidden;
    float: left
}


/**Profile initials*/

select[name="profileFirstInitial"],
select[name="profileLastInitial"] {
    text-align: center;
}